footer {
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 4.25rem;
    border-top: 1px solid var(--color-light-75);
    padding-top: 1rem;
    font-size: var(--font-size-small);
    .copyright {
        text-align: center;
        color: var(--color-dark-25);
        font-size: .65em;
    }
    p {
        line-height: 1.5rem;
    }
}

.dark-mode {
    .copyright {
        color: var(--color-light-75);
    }
}

@media screen and (min-width: 769px) {
    footer {
        margin-bottom: .25rem;
        .footer-container {
            width: 738px;
            margin: 0 auto;
        }
    }
}

